body{
	font-family: "Oswald";
	font-size: 1.5rem;
}

/*navbar-brand img
{
	width: 240px;
	height: 80px;
}*/

h1{

	font-family: "Oswald";
	color: white;
	font-size: 1.5rem;
}

#Nav .navbar-brand{
	font-size: 2.0rem;
}
.navbar-dark .navbar-nav .nav-link:hover{
	color:lightblue;
}

html,body{
	width: 100%;
	margin:0px;
	padding:0px;
	overflow-x: hidden;
	overflow-y: hidden;
}

::-webkit-scrollbar {
    display: none;
}

.spinner {
	width: 40px;
	height: 40px;
	background-color: rgb(255, 255, 255);
  
	position: absolute;
	top: 48%;
	left: 48%;
	-webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
	animation: sk-rotateplane 1.2s infinite ease-in-out;
  }
  
  @-webkit-keyframes sk-rotateplane {
	0% { -webkit-transform: perspective(120px) }
	50% { -webkit-transform: perspective(120px) rotateY(180deg) }
	100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
  }
  
  @keyframes sk-rotateplane {
	0% { 
	  transform: perspective(120px) rotateX(0deg) rotateY(0deg);
	  -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
	} 50% { 
	  transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
	  -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
	} 100% { 
	  transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
	  -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
	}
  }

  .spinner-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #1a2a70;
	z-index: 999999;
}